<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Secure Client Portal</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

    <!-- Header -->
    <header class="top-header">

    <div class="logo-section">

        <img th:src="@{/image/secure_logo.png}"
             alt="Secure Logo"
             class="secure_logo">

        <h3>Secure Client Portal</h3>

    </div>

    <button class="logout-btn"
            onclick="logout()">

        🚪 Logout

    </button>

</header>

    <!-- Dashboard -->
    <div class="dashboard-container">

        <div class="dashboard-box">

            <h2>📁 Secure Document Dashboard</h2>

            <div class="section-title">
                Upload File
            </div>

            <input type="file"
                   id="fileInput"
                   class="form-control">

            <button class="btn-custom mt-3"
                    onclick="uploadFile()">
                Upload File
            </button>

            <div id="uploadResult"></div>

            <hr class="my-4">

            <div class="section-title">
                Generate Share Link
            </div>

            <input type="number"
                   id="documentId"
                   class="form-control"
                   placeholder="Enter Document ID">

            <button class="btn-custom mt-3"
                    onclick="generateShareLink()">
                Generate Link
            </button>

            <div id="shareResult"></div>

        </div>

    </div>

<script>

async function uploadFile(){

    const token = localStorage.getItem("token");

    const file = document.getElementById("fileInput").files[0];

    const formData = new FormData();

    formData.append("file", file);

    const response = await fetch("/api/documents",{

        method:"POST",

        headers:{
            "Authorization":"Bearer " + token
        },

        body:formData

    });

    const data = await response.json();

    if(response.ok){

        document.getElementById("uploadResult").innerHTML =

        `<div class="alert alert-success">

            File Uploaded Successfully

            <br>

            Document ID : ${data.id}

        </div>`;

    }else{

        document.getElementById("uploadResult").innerHTML =

        `<div class="alert alert-danger">

            Upload Failed

        </div>`;
    }

}

async function generateShareLink(){

    const token = localStorage.getItem("token");

    const documentId = document.getElementById("documentId").value;

    const response = await fetch(

        `/api/documents/${documentId}/share`,

        {

            method:"POST",

            headers:{

                "Authorization":"Bearer " + token

            }

        }

    );

    const data = await response.json();

    if(response.ok){

    	document.getElementById("shareResult").innerHTML =

    		`
    		<div class="alert alert-success">

    		<strong>Share Link</strong>

    		<br><br>

    		<input
    		type="text"
    		id="shareLink"
    		class="form-control"
    		value="${data.shareUrl}"
    		readonly>

    		<button
    		class="btn-custom mt-3"
    		onclick="copyLink()">

    		📋 Copy Link

    		</button>

    		</div>
    		`;

    }else{

        document.getElementById("shareResult").innerHTML =

        `<div class="alert alert-danger">

            Failed To Generate Link

        </div>`;
    }

}
function logout(){

    localStorage.removeItem("token");

    window.location.href="/";

}

function copyLink(){

    const link = document.getElementById("shareLink");

    navigator.clipboard.writeText(link.value);

    alert("Share link copied successfully!");

}

</script>

</body>

</html>